<%- include ("./partials/header") %>

    <div class="jumbotron">
        <div class="container">
            <p>Welcome to the...</p>
            <h1>Brass World</h1>
        </div>
    </div>

    <div>
        <div class="content">
        <h2 class="">A Quick Glance</h2>

        <div class="gallery">
            <a href="/wallDecor.html">
                <img src="images/img05.jpg" alt="Wall Diya" width="600" height="400">
            </a>
            <div class="desc">Rs. 3500/-</div>
            <button class="buy">BUY</button>
            <button class="buy">CART</button>
        </div>

        <div class="gallery">
            <a href="/wallDecor.html">
                <img src="images/img06.jpg" alt="Peacock Diva" width="600" height="400">
            </a>
            <div class="desc">Rs. 3200/-</div>
            <button class="buy">BUY</button>
            <button class="buy">CART</button>
        </div>
        
        <div class="gallery">
            <a href="/wallDecor.html">
                <img src="images/img07.jpg" alt="Antique Lantern" width="600" height="400">
            </a>
            <div class="desc">Rs. 4200/-</div>
            <button class="buy">BUY</button>
            <button class="buy">CART</button>
        </div>
    </div>

    <div class="content">
        <h2>Wall Decors</h2>

        <div class="gallery">
            <a href="/diaLatern.html">
                <img src="images/img08.jpg" alt="Wall Diya" width="600" height="400">
            </a>
            <div class="desc">Rs. 4800/-</div>
            <button class="buy">BUY</button>
            <button class="buy">CART</button>
        </div>

        <div class="gallery">
            <a href="/diaLatern.html">
                <img src="images/img09.jpg" alt="Peacock Diva" width="600" height="400">
            </a>
            <div class="desc"> Rs. 5000/-</div>
            <button class="buy">BUY</button>
            <button class="buy">CART</button>
        </div>
        
        <div class="gallery">
            <a href="/diaLatern.html">
                <img src="images/img10.jpg" alt="Antique Lantern" width="600" height="400">
            </a>
            <div class="desc">Rs. 5200/-</div>
            <button class="buy">BUY</button>
            <button class="buy">CART</button>
        </div>
    </div>

    <div class="content">
        <h2>Diya and Laterns</h2>
        <div class="height"></div>
    </div>   
    </div>
</body>
</html>