<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brass World</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@500&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <a href="/"><img class="logo" src="images/logo.png" alt="Company Logo"></a>
        <nav>
            <ul class="nav_links">
                <li class="nav_item"><a href="/walldecor">Wall Decors</a></li>
                <li class="nav_item"><a href="/dialatern">Diyas & Lanterns</a></li>
                <li class="nav_item"><a href="/handicrafts">Handicrafts</a></li>
            </ul>
        </nav>
        <a href="/aboutus"><button>Contact Us</button></a>
    </header>